html, body {
    margin: 0;
    padding: 0;

    font-family: Helvetica, Arial, sans-serif
}

.main-heading {
    margin: 30px auto;

    text-align: center;
}



.main {

}

.content {
    /*background-color: #0f589d;*/

    min-width: 200px;
}



.highlight {
    background-color: #e6a258;
}


footer {
    height: 100px;
}


.myEmail.ng-invalid {
    /* background-color: lightcoral; */
}

/* ng-not-empty ng-touched ng-untouched ng-valid ng-invalid ng-dirty ng-pending ng-pristine */
.myEmail.ng-pristine {
    background-color: cornflowerblue;
}


.top-gap {
    margin-top: 30px;
}



.little-box {
    width: 130px;
    height: 25px;

    background-color: #d0304e;

    position: relative;
    left: 10px;

    padding-left: 3px;

    line-height: 25px;
    color: #ffdd98;
    font-style: italic;
    font-family: sans-serif;
}
